@model IEnumerable<ProCRUD.Models.Table>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Back to Index", "Read")
</p>

    @using (Html.BeginForm())
    {

        <div class="container">
            <div class="row">
                <div class="col">
                    @Html.Label("Account"):
                   <div>
                    @Html.TextBox("Account")
                    </div>
                </div>

                <div class="col">
                    @Html.Label("Password"):
                    <div>
                    @Html.TextBox("Password")
                </div>
                <div class="col">
                    @Html.Label("UserName"):
                    <div>
                        @Html.TextBox("UserName")
                    </div>
                </div>
                <div class="col">
                    @Html.Label("Email"):
                    <div>
                        @Html.TextBox("Email")
                    </div>
                </div>
                <div class="col">
                    @Html.Label("Address"):
                    <div></div>
                    @Html.TextBox("Address")
                </div>
                    <br />
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="add" value="註冊" class="btn btn-primary">
            </div>
            

        </div>
    }
   